.snap-drawers {
  position: absolute;

  .left-drawer  {
    position: absolute;
  }
}

#content {
  position: absolute;
  overflow: auto;
  background: #fff;
  left: 0;
  right: 0;

  .poster {
    width: 100%;
  }
}